:root {
  --app-primary: #8a367c;
  --app-primary-dark: #6e2762;
  --app-secondary: #e3f3f8;
  --app-tertiary: #d0e7f0;

  --app-dark: #525252;
  --app-light: #ffffff;
  --app-bg-light: #f0d8ea;
  --app-darklight: #ebedf2;
  --app-darklight2: #bebdbd;

  --app-error: #e2445c;
  --app-warning: #f25c05;
  --app-success: #9ebf6b;
}
