<app-gabarit-full-width [title]="title" *ngIf="collection">
  <!-- <button (click)="changeTitle()">change my title</button> -->
  <app-table-light [headers]="headers">
    <tr *ngFor="let item of collection">
      <td>{{ item.type }}</td>
      <td>{{ item.client }}</td>
      <td>{{ item.nb_days }}</td>
      <td>{{ item.tjm_ht }}</td>
      <td>{{ item.tjm_ht | total: item.nb_days }}</td>
      <td>{{ item.tjm_ht | total: item.nb_days: item.taux_tva }}</td>
      <td>
        <select>
          <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}
          </option>
          <!-- <option value="CANCELED">CANCELED</option>
          <option value="OPTION" [selected]="true">OPTION</option>
          <option value="CONFIRMED">CONFIRMED</option> -->
        </select>
      </td>
    </tr>
  </app-table-light>
  <app-btn route="add" text="Add order"></app-btn>
</app-gabarit-full-width>
